


<% @product.comments.each do |c| %>

  <li><%= c.body %></li>
  <li><%= c.user_id %></li>
  <li><%= c.id %></li>
  <li><%= link_to 'Edit', edit_product_comment_path(c.id) %></li>


  <li><%= link_to 'Destroy', product_comment_path(c.id), method: :delete,class:'remove_comment', data: { confirm: 'Are you sure?' }, :remote => true %></li>

<% end %>
