


<% @product.comments.each do |comment| %>

  <li><%= comment.body %></li>
  <li><%= comment.user_id %></li>
  <li><%= comment.id %></li>
  <li><%= link_to 'Edit', edit_product_comment_path(@product, comment) %></li>


  <li><%= link_to 'Destroy', product_comment_path(@product.id), method: :delete,class:'remove_comment', data: { confirm: 'Are you sure?' }, :remote => true %></li>

<% end %>
