
<% @orders.each do |item| %>
<%= item.coupon_name%>
<%= item.user_id%>
<%= item.id%>
<% end  %>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col"> Total order_amount</th>
      <th scope="col">coupon_name</th>
      <th scope="col">Order Status</th>
      <th scope="col">View Order</th>

    </tr>
  </thead>

  <tbody>
    <% @orders.each do |item| %>
    <tr>

      <td><%= link_to item.order_amount, item %></td>

      <td> <%= item.coupon_name %> </td>

      <td> <%= item.status %> </td>

      <td>
          <%= link_to "edit order", order_path(item.id), method: :get %>
      </td>

      <% end %>
    </tr>
  </tbody>
</table>

