<h1> <%= @current_cart.id %> </h1>
<h4> we are going to show line items here but we are in order </h4>
<h3> duplicate of cart/lineItems; but we have to make modifications </h3>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> Add Coupon </button>

<br><br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col"> product name </th>
      <th scope="col"> quantity </th>
      <th scope="col"> price </th>
      <th scope="col"> remove from order </th>
    </tr>
  </thead>

  <tbody>

    <% @order_line_items.each do |item| %>
    <tr>
      <td>
        <%= item.product.name %>
      </td>

      <td id="Q">
        <%= item.quantity %>
      </td>

      <td id="Q">
        <%= item.total_line_item_price %>
      </td>

      <td>
        <div class="rem_lineItem">
          <%= button_to "Remove",  li_ro_path(item.id), method: :put, data: { confirm: 'Are you sure?'}, class:'delete_ btn btn-danger btn-md', remote: true  %>
        </div>
        <% end %>
      </td>
    </tr>

  </tbody>
</table>


<p>Click on the button to open the modal.</p>
  <div class="row">
    <div class="col-sm-12 text-center">
        <%= button_to "checkout", root_path, method: :put, data: { confirm: 'Are you sure?'}, class:'delete_ btn btn-secondary btn-md', remote: true  %>
     </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= form_with model: @order do |form| %>
<%= form.text_field :coupon_name %>
<%= form.submit class:'btn btn-secondary' %>
<% end %>
<%= params.inspect %>
