<h1> <%= @current_cart %> </h1>
<h1> we are going to show line items here </h1>


<br>
<%# <%= @current_cart.line_items.first.product_id %> %>
<br>



<table class="table">
        <thead>
            <tr>
              <th scope="col"> product name </th>
              <th scope="col"> product ID </th>
              <th scope="col"> Cart ID </th>
              <th scope="col"> quantity </th>
              <th scope="col"> price </th>
              <th scope="col"> Increase/Decrease </th>
              <th scope="col"> delete </th>
            </tr>
          </thead>
          <%# <br> %>
        <tbody>
            <% @current_cart.line_items.each do |item| %>
            <p>item.id</p>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.product_id %></td>
              <td><%= item.cart_id  %> </td>
              <td id="Q"><%= item.quantity  %></td>
              <td><%= item.id %></td>

              <td>
                <div class="row">
                <div class="col-sm-12 text-center">
                  <div class="add_Q"> <%= button_to "ADDDDD", li_aq_carts_path(item.product_id), method: :post, class:'btn btn-primary btn-md', remote: true  %></div>
                  <div class="red_Q"> <%= button_to "REDDDD",  li_rq_carts_path(item.product_id),  method: :post, class:'btn btn-danger btn-md', remote: true %></div>
                </div>
                </div>
              </td>

              <%# <td>
                <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-md">button</button>
                    <button class="btn btn-danger btn-md">button</button>
                </div>
                </div>
              </td> %>
              <td>
              <div class="delete_lineItem">
                <%= button_to "Remove",  carts_line_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?'}, class:'delete_ btn btn-primary btn-md', remote: true  %>
              </div></td>

            </tr>
            <% end %>
        </tbody>


