<h1> <%= @current_cart %> </h1>
<h1> we are going to show line items here </h1>


<br>
<br>



<table class="table">
        <thead>
            <tr>
              <th scope="col"> ID </th>
              <th scope="col"> product name </th>
              <%# <th scope="col"> product ID </th>
              <th scope="col"> Cart ID </th> %>
              <th scope="col"> quantity </th>
              <%# <th scope="col"> price </th> %>
              <th scope="col"> Increase/Decrease </th>
              <th scope="col"> delete </th>
            </tr>
          </thead>
          <%# <br> %>
        <tbody>

            <% @current_cart.line_items.each do |item| %>
            <tr>
              <td>
                <%= check_box_tag 'event_ids[]', item.id %>
              </td>

              <td><%= item.product.name %></td>

              <%# <div id="qty"> %>
                <td id="Q"><%= item.quantity  %></td>
              <%# </div> %>

              <td>
                <%# <div class="row"> %>
                <%# <div class="col-sm-12 text-center"> %>
                  <div class="add_Q"> <%= button_to "+", li_aq_carts_path(item.product_id), method: :post, class:'btn btn-primary btn-md', remote: true  %></div>
                  <div class="red_Q"> <%= button_to "--",  li_rq_carts_path(item.product_id),  method: :post, class:'btn btn-danger btn-md', remote: true %></div>
                <%# </div> %>
                <%# </div> %>
              </td>

              <%# <td>
                <div class="row">
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary btn-md">button</button>
                    <button class="btn btn-danger btn-md">button</button>
                </div>
                </div>
              </td> %>
              <td>
              <div class="delete_lineItem">
                <%= button_to "Remove",  carts_line_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?'}, class:'delete_ btn btn-primary btn-md', remote: true  %>
              </div></td>

            </tr>
            <% end %>
        </tbody>


