<h1> <%= @current_cart %> </h1>
<h1> we are going to show line items here </h1>


<br>
<%# <%= @current_cart.line_items.first.product_id %> %>
<br>

<%#
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
  </button>

<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
              <!-- Modal body -->
      <div class="modal-body">
        <table class="table">
        <thead>
            <tr>
              <th scope="col"> product name </th>
              <th scope="col"> product ID </th>
              <th scope="col"> Cart ID </th>
              <th scope="col"> quantity </th>
              <th scope="col"> price </th>
              <th scope="col"> Add/Reduce </th>
              <th scope="col"> delete </th>
            </tr>
          </thead>
          <%# <br> %>
        <%# <tbody> %>
            <%# <% @current_cart.line_items.each do |item| %> %>
            <%# <p>item.id</p> %>
            <%# <tr> %>
              <%# <td><%= item.product.name %></td> %>
              <%# <td><%= item.product_id %></td> %>
              <%# <td><%= item.cart_id  %> </td> %>
              <%# <td><%= item.quantity  %></td> %>
              <%# <td><%= item.id %></td> %>
              <%# <td><button type="button" class="btn btn-danger"> price </button></td> %>
              <%# <td> %>

                <%# <div class="row"> %>
                  <%# <div class="col-sm-12 text-center"> %>
                      <%# <button class="btn btn-primary btn-md" action=" <%= li_aq_path(item.id) %> " method="post" >+</button> %>
                      <%# <button class="btn btn-danger btn-md" action=" <%=  li_rq_path(item.id) " method="post" >--</button> %> %>
                  <%# </div> %>
                <%# </div> %>
              <%# </td> %>

              <%# <td><button type="button" class="btn btn-danger"> delete </button></td> %>
            <%# </tr> %>
            <%# <% end %> %>
        <%# </tbody> %>
      <%# </div> %>
<%# </div> %>
    <%# </div> %>
  <%# </div> %> %>

<table class="table">
        <thead>
            <tr>
              <th scope="col"> product name </th>
              <th scope="col"> product ID </th>
              <th scope="col"> Cart ID </th>
              <th scope="col"> quantity </th>
              <th scope="col"> price </th>
              <th scope="col"> Add/Reduce </th>
              <th scope="col"> delete </th>
            </tr>
          </thead>
          <%# <br> %>
        <tbody>
            <% @current_cart.line_items.each do |item| %>
            <p>item.id</p>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.product_id %></td>
              <td><%= item.cart_id  %> </td>
              <td><%= item.quantity  %></td>
              <td><%= item.id %></td>
              <td>

                <%= link_to "+", li_aq_carts_path(item.product_id), method: :post  %>
                </br>
                <%= link_to "---",  li_rq_carts_path(item.product_id),  method: :post %>

                <%# <%= link_to "CREATE NEW PRODUCT", new_product_path %> %>



                <%# <div class="row"> %>
                  <%# <div class="col-sm-12 text-center"> %>
                      <%# <button class="btn btn-primary btn-md" action=" <%=  li_aq_carts_path(item.id) %> " method="post" >+</button> %>
                      <%# <button class="btn btn-danger btn-md" action=" <%=  li_rq_path(item.id) %> " method="post" >--</button> %>
                  <%# </div> %>
                <%# </div> %>
              </td>

              <td><button type="button" class="btn btn-danger"> delete </button></td>
            </tr>
            <% end %>
        </tbody>
