<section class="h-100 gradient-custom">
<div class="container py-5">
<div class="row d-flex justify-content-center my-4">

      <div class="col-md-8">
        <div class="card mb-4"  style="background-color: #939597">

          <div class="card-header py-3">
            <h5 class="mb-0">Cart items</h5>
          </div>


          <div class="card-body">
            <!-- Single item -->

            <% count = 0 %>
            <% @current_cart.line_items.each do |item| %>
            <div class="row">


              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                  <%= image_tag Product.find(item.product_id).cover_picture, class:"w-100" %>

                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
              </div>


              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">

                 <p><strong><%= Product.find(item.product_id).name %></strong></p>

                <strong> <p>Price: <%= Product.find(item.product_id).item_price %> </p> </strong>
                <strong> <p>Seller: <%= User.find(Product.find(item.product_id).user_id).full_name %> </p> </strong>


                <div class="delete_lineItem">
                    <%= button_to "Remove", line_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?'}, class:'delete_ btn btn-danger btn-md', remote: true  %>
                </div>

              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->

                <div class="d-flex mb-4" style="max-width: 300px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <% red_id = ["red_Q", count.to_s].join('') %>
                <div class="red_Q" id="<%= red_id %>"> <%= button_to "--",  reduce_quantity_line_item_path(item.product_id),  method: :post, class:'btn btn-danger px-3 ms-2', remote: true %></div>


                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <div class="form-outline">
                    <% id = ["X", count.to_s].join('') %>
                    <h3><div class= "Q" id= "<%= id %>"> <%= item.quantity %> </div> </h3>
                  </div>

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <% add_id = ["add_Q", count.to_s].join('') %>
                  <div class="add_Q" id="<%= add_id %>"> <%= button_to "+", add_quantity_line_item_path(item.product_id), method: :post, class:'btn btn-primary px-3 ms-2', remote: true  %></div>
                </div>

                </div>


                <hr class="my-4" />
                <% count += 1%>
                <% end %>

            </div></div>

             <%= button_to "Checkout",  checkout_line_items_path , method: :post, class:'delete_ btn btn-danger btn-md', remote: true  %>
            </div></div>

        </div>

      </div>

    </div>
  </div>

</section>







