<h3> All our products </h3>

<section style="background-color: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));">
  <div class="container py-5">
    <div class="row">
      <% @products.each do |product|%>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card" style="background-color: #EFE1CE">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Available</p>
          </div>
          <%# <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp" %>
            <%# class="card-img-top" alt="Laptop" /> %>

            <%= image_tag product.cover_picture, class:"card-img-top", height: 250 %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <% if product.user_id == current_user.id%>

                <p class="small"><a href="#!" class="text-muted"><%= link_to "edit product", edit_product_path(product.id) %></a></p>
              <% else %>
              <p class="small"><a href="#!" class="text-muted">Get yours!</a></p>
              <% end %>

              <p class="small text-danger"><s>$<%= product.item_price + (0.25 * product.item_price ) %></s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"><%= link_to product.name, product %></h5>

              <h5 class="text-dark mb-0">$<%= product.item_price %></h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available:  <%= link_to product.item_quantity, product %><span class="fw-bold"></span></p>
            </div>

          </div>
        </div>
      </div>

      <% end %>


    </div>
  </div>
</section>



