<h2> new </h2>

<%= form_with model: @product do |form| %>
    <div class='form-group'>
      <%= form.label :cover_picture %>
      <%= form.file_field :cover_picture%>

    </div>

    <div class="mb-3">
    <div class="field form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  </div>

  <div class="mb-3">
    <div class="field form-group">
    <%= form.label :item_quantity %><br>
    <%= form.text_field :item_quantity %>
    <% @product.errors.full_messages_for(:item_quantity).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  </div>


  </br>
  <div class="actions">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
