<h2> <%= @current_cart.id%>  In products#show page</h2>

<%# <h2> <%= current_user.cart.id%>
  <%# In products#show page</h2> %> %>



<%# <%= url_for(@product.images) %> %>
<%# <%= link_to "click to view image", @product.cover_picture %>
<%= image_tag @product.cover_picture, style: "width:500px; display:block" %>
<p> Item quantity is <%= @product.item_quantity%> </p>

<%# <%= render @product.comments %>
<%= button_to "Add #{@product.name} to cart" %>
<%# <div > %>
<%= render 'comments/comment', locals: {product: @product} %>

<h2>Add a comment:</h2>
<%= render 'comments/form',locals: {user_id: current_user.id} %>
