<h2> <%= @current_cart.id%>  In products#show page</h2>
<h2> <%= @product.name %> </h2>
<%# <h2> <%= current_user.cart.id%>

<%= image_tag @product.cover_picture, style: "width:500px; display:block" %>
<p> Item quantity is <%= @product.item_quantity%> </p>

<%# <%= render @product.comments %>
<%# <div > %>
<%= render 'comments/comment', locals: {product: @product} %>

<h2>Add a comment:</h2>
<%= render 'comments/form',locals: {user_id: current_user.id} %>
